.loginScreen{
    position: relative;
    height: 100%;
    background: url("https://cdn.mos.cms.futurecdn.net/98GnqFKaUMYU3GG5HxhLWZ.jpg") center no-repeat;
    background-size: cover;
}
.loginScreen_logo{
    position: fixed;
    top: 2px;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}
.loginScreen_button{
    position: fixed;
    right: 20px;
    top:20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: #e50914;
    cursor: pointer;
    font-weight: 600;
}
.loginScreen_gradient{
    width:100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 70%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.loginScreen_body{
    z-index: 1;
    position: absolute;
    color: #fff;
    top:30%;
    text-align: center;
    padding: 20px;
    left: 0;
    right: 0;
}
.loginScreen_body h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.loginScreen_body h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.loginScreen_body h3{
    font-size: 1.2rem;
    font-weight: 400;
}
.loginScreen_input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.loginScreen_input{
    margin-top: 20px;
}
.loginScreen_getStarted{
    font-size: 1rem;
    border: none;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    padding: 16px 20px;
}

@media only screen and (max-width: 768px) {
    .loginScreen_body{
        top: 25%;
    }
    .loginScreen_body h1{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .loginScreen_body h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .loginScreen_body h3{
        font-size: 1rem;
        font-weight: 400;
    }
    .loginScreen_input > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loginScreen_input > form > input {
        width: 95%;
    }
    .loginScreen_input > form > button {
        width: 50%;
        margin-top: 10px;
    }
}